.nav-edit {
    font-size: 24px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
}

.navbar {
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

@media (max-width: 768px) {
    .custom-toggler.navbar-toggler {
        border-color: white;
    }
    .custom-toggler .navbar-toggler-icon {
        background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .navbar a {
        color: black;
    }

}

.tengah {
    margin-left: 200px;
}
.navbar a {
    color: white;
}
.navbar a:hover {
    color: black;
}
.row {
    text-align: justify;
    align-items: center;
}

.teks {
    padding: 0 100px;
}

.border {
    border: 1px solid black;
    width: 350px;
    height: 270px;
    border-radius: 50px;
}
.media {
    display: flex;
    margin-top: 50px;
}
.media-body {
    margin-left: 20px;
}

.tombol{
    border: 3px solid #497C6B;
    padding: 8px 30px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
}
.cekout a{
    text-decoration: none;
    color: black;
}

.tom {
    padding-top: 13px;
}
.cekout {
    display: flex;
}

.keranjang {
    margin-left: 40px;
}
.buy {
    margin-left: 145px;
}

.shipping textarea {
    width: 600px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 16px;
    resize: none;
  }

.price {
    border: 1px solid black;
    width: 400px;
    height: 200px;
    border-radius: 30px;
    margin-left: 170px;
}

.total {
    margin: 20px;
}

.payment {
    margin: 36px 80px;
}

.bayar {
    border: 3px solid #497C6B;
    padding: 0 60px;
    border-radius: 50px;
    background-color: #497C6B;
    color: white;
    font-size: 30px;
}

.harga {
    display: flex;
    justify-content: space-between;
}